##
# Files listed here will be concatenated to
# ./build/app.js
#
[
	'../_vendors/jquery/jquery.js'
	'../_vendors/jquery-timeago/jquery.timeago.js'
	'../node_modules/on-the-githubs/js/jquery.on-the-githubs.js'
	'../node_modules/tus-js-client/dist/tus.js'

	'./js/main.js'
	'./js/upload-demo.js'
]
