---
layout: default
---
{% island 'PostLayout/index.tsx' %}
{% prop "title", title %}
{% prop "content", content %}
{% prop "author", authors[author] %}
{% prop "date", page.date %}
{% endisland %}

{% island "PageFooter/index.tsx" %}
{% prop "comments", true %}
{% endisland %}