{
  "extends": ["standard", "prettier"],
  "env": {
    "es6": true,
    "jest": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "GENTLY": true,
    "$": true,
    "jQuery": true
  },
  "rules": {
    "no-multi-spaces": ["off"],
    "node/no-path-concat": ["off"]
  }
}
