permalink: "/blog/:year/:month/:day/:title.html"
tusd_endpoint: "http://master.tus.io"
commenting_baseurl: https://tus.io

strict_front_matter: true
encoding: UTF-8
timezone: Europe/Amsterdam

kramdown:
  input: GFM
  hard_wrap: false
  enable_coderay: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 2..6

collections:
  content:
    output: true
    permalink: /:path/

excerpt_separator: "<!--more-->"

# We'll refer new atom feed though, as adviced by GitHub
# https://github.com/blog/2053-easier-feeds-for-github-pages
feed:
  path: blog.atom

rss_feed: /atom.xml
url: https://tus.io

plugins:
  - jemoji
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-redirect-from

emoji:
  src: "/assets/img"

exclude:
  - node_modules
  - .git

keep_files:
  - assets