permalink: "/blog/:year/:month/:day/:title.html"
commenting_baseurl: https://tus.io

strict_front_matter: true
encoding: UTF-8
timezone: Europe/Amsterdam

markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  transliterated_header_ids: true
  toc_levels: 1..2
  smart_quotes: ["apos", "apos", "quot", "quot"]
  syntax_highlighter: nil
  # syntax_highlighter: rouge
  gfm_emojis: true
  gfm_emoji_opts:
    asset_path: "https://assets.transloadit.com/assets/images/emoji"

collections:
  content:
    output: true
    permalink: /:path/
  versions:
    output: true

excerpt_separator: "<!--more-->"

# We'll refer new atom feed though, as adviced by GitHub
# https://github.com/blog/2053-easier-feeds-for-github-pages
feed:
  path: blog.atom

rss_feed: /atom.xml
url: https://tus.io

plugins:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-toc

emoji:
  src: "/assets/img"

exclude:
  - node_modules
  - .git

keep_files:
  - assets