.root {
	max-width: 50rem;
	margin: 0 auto;
	padding-inline: var(--space3);
}

@media screen and (min-width: 768px) {
	.root {
		padding-inline: var(--space6);
	}
}

.footer {
	padding-block: var(--space10);
}

.social p {
	font-weight: 500;
	margin-block-end: var(--space2);
}

.social,
.comments {
	border-block-start: 1px solid var(--gray4);
	padding-block: var(--space10);
}
