---
import { getCollection } from "astro:content";
import Layout from "@/layouts/default.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });
}

const { entry } = Astro.props;
---

<Layout title={entry.data.title}>
  <h1>{entry.data.title}</h1>
</Layout>
