<!-- could also be http://slack.tus.io but we can't have https and cloudflare enforces that now it seems: -->
<a href="https://community.transloadit.com/c/tus" class="community-forum-button"><img src="/assets/img/community-forum-35a78b.svg" /></a>
<script async defer src="https://slackin-xgybtegrsh.now.sh/slackin.js"></script>
<a href="https://twitter.com/tus_io" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @tus_io</a>
<iframe src="https://ghbtns.com/github-btn.html?user=tus&repo=tus-resumable-upload-protocol&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
{%if include.rss == true%}
  <a href="{{ site.rss_feed }}"><img src="/assets/img/rss-feed-orange.svg" /></a>
{%endif%}
