.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: var(--space1);
  padding-block: var(--space3);
  padding-inline: var(--space1);
  margin-block-end: 0;
}

.item:not(:last-of-type) {
  border-block-end: 1px solid var(--gray4);
}

.avatar {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
}

.time {
  font-size: 0.875rem;
  color: var(--gray10);
  text-decoration-style: dotted;
  text-decoration-line: underline;
  white-space: nowrap;
  text-underline-offset: 2px;
  margin-inline-start: 0.5rem;
}

.description {
  margin-block-end: 0;
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .item {
    grid-gap: var(--space2);
    grid-template-columns: 1.5rem 1fr max-content;
    grid-template-rows: auto;
    align-items: center;
  }

  .time {
    grid-column: 3;
  }

  .description {
    grid-row: 1;
    grid-column: 2;
  }
}
