@import url('modern-normalize/modern-normalize.css');

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Regular.woff2');
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Medium.woff2');
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Bold.woff2');
  font-display: swap;
  font-weight: bold;
}

:root {
  scroll-behavior: smooth;

  --space1: 0.25rem;
  --space2: 0.5rem;
  --space3: 0.75rem;
  --space4: 1rem;
  --space5: 1.25rem;
  --space6: 1.5rem;
  --space7: 1.75rem;
  --space8: 2rem;
  --space9: 2.25rem;
  --space10: 2.5rem;
  --space11: 2.75rem;
  --space12: 3rem;
  --gray1: hsl(0deg 0% 99%);
  --gray2: hsl(0deg 0% 97.3%);
  --gray3: hsl(0deg 0% 95.1%);
  --gray4: hsl(0deg 0% 93%);
  --gray5: hsl(0deg 0% 90.9%);
  --gray6: hsl(0deg 0% 88.7%);
  --gray7: hsl(0deg 0% 85.8%);
  --gray8: hsl(0deg 0% 78%);
  --gray9: hsl(0deg 0% 56.1%);
  --gray10: hsl(0deg 0% 52.3%);
  --gray11: hsl(0deg 0% 43.5%);
  --gray12: hsl(0deg 0% 9%);
  --green1: #48aa92;
  --green2: #009771;
  --green3: #008067;
  --red1: #f16100;
  --yellow1: #e1e11e;
  --blue1: #0165d6;
}

body {
  font-size: 1em;
  line-height: 1.6;
  color: var(--gray12);
  font-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (width >= 1024px) {
  body {
    font-size: 1.125em;
  }
}

a {
  color: var(--green3);
  text-decoration: none;
  text-decoration-skip: spaces;
  text-decoration-skip-ink: auto;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  margin-block-end: 1rem;
  font-weight: 400;
}

h1,
h2 {
  letter-spacing: -1px;
}

h4,
h5,
h6 {
  margin-block-end: 0.5em;
  font-weight: bold;
}

h1 {
  line-height: 1.2;
  margin-block-start: var(--space6);
  margin-block-end: var(--space5);
  border-block-end: 1px solid var(--gray3);
  padding-block-end: var(--space3);
}

h2 {
  font-size: 1.875rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.25rem;
  letter-spacing: -1px;
  line-height: 1.3;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.35;
}

h5 {
  line-height: 1.5;
}

p {
  margin-block-start: 0;
  margin-block-end: 1em;
}

p.lead {
  font-size: 1.25em;
}

@media screen and (width >= 550px) {
  h1 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-block-start: var(--space12);
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
    font-weight: 700;
  }
}

ol,
ul {
  margin-block-start: 0;
  margin-block-end: var(--space6);
  padding-inline-start: 0;
}

li {
  margin-block-end: var(--space3);
}

.content ul {
  list-style: disc outside;
  padding-inline-start: var(--space5);
}

.content ul ul {
  padding-inline-start: 0;
}

table {
  width: 100%;
  margin-bottom: 2rem;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.4rem 0.5rem;
  border-bottom: 1px solid;
}

table th {
  text-align: left;
  border-color: var(--gray6);
}

table td {
  border-color: var(--gray4);
}

table th:first-child,
table td:first-child {
  padding-left: 0;
}

table th:last-child,
table td:last-child {
  padding-right: 0;
}

/* styles for autolinked headings by rehype-autolink-headings */
:where(h1, h2, h3, h4, h5, h6) a[href^='#'] {
  margin-inline-start: var(--space2);
  display: inline-flex;
  align-items: center;
  visibility: hidden;
  color: inherit;
}

:where(h1, h2, h3, h4, h5, h6) a[href^='#'] svg {
  inline-size: auto;
  block-size: 0.75em;
}

:where(h1, h2, h3, h4, h5, h6):hover a[href^='#'] {
  visibility: visible;
}

/* make sure we always show color emojis, not Unicode emojis */
[aria-label~='emoji'] {
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji', 'Android Emoji', EmojiSymbols;
}
