.root {
  position: relative;
  height: 4rem;
  background-color: var(--gray2);
  border-bottom: 1px solid var(--gray3);
}

.root div {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-inline: var(--space3);
}

@media screen and (min-width: 768px) {
  .root div {
    padding-inline: var(--space6);
  }
}

.home {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--space2);
  height: 2rem;
}

.home img {
  max-height: 100%;
  width: auto;
}

.toggle {
  all: unset;
  display: block;
  line-height: 1;
}

.toggle svg {
  display: block;
  transition: color 120ms;
}

.toggle:hover {
  color: var(--green2);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .toggle {
    display: none;
  }
}

.items {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 14rem;
  max-width: 18rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--gray2);
  border: 1px solid var(--gray3);
  box-shadow: 0 2px 20px var(--gray3);
}

.link {
  display: block;
  padding: var(--space2) var(--space4);
  transition: color 120ms, background-color 120ms;
  color: var(--gray12);
}

.link:hover {
  background-color: var(--green1);
  color: white;
}

@media screen and (min-width: 768px) {
  .items {
    all: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--space6);
    list-style-type: none;
  }

  .link {
    padding: 0;
  }

  .link:hover {
    background-color: unset;
    color: var(--green2);
  }
}

.githubLink {
  display: inline-flex;
  gap: var(--space2);
  align-items: center;
}
