body {
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}
.jumbotron h1 {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 30px;
}
.jumbotron {
  .btn, input {
    font-size: 19px;
    padding: 14px 14px;
  }

  .input{
    line-height: 25px;
    text-align: center;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.people{
  & > div{
    margin-right: 44px;
    float: left;

    img{
      border: 1px solid #666;
    }

    h3{
      font-size: 16px;
      text-align: center;
    }

    &:last-child{
      margin: 0;
    }
  }
}

input[type="file"] {
  line-height: 100%;
  height: auto;
}

.progress, .download{
  display: none;
}


h3 {
  margin: 20px 0 10px 0;
  line-height: 40px;
}

#posts,#githubs {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 5px;
  img {
    float: left;
    margin: 0;
  }
  p {
    display: inline-block;
    float: left;
    margin: 0;
    width: 550px;
  }
  span.timeago {
    position: absolute;
    right: 0;
    float: left;
    width: 90px;
    text-align: right;
  }
  > li {
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: none;
    }
    padding: 5px 0;
    clear: both;
    position: relative;
  }
  .gravatar {
    margin-right: 7px;
  }
  .commits {
    display: none;
    clear: both;
    padding-top: 5px;
    li {
      list-style-type: none;
      margin-left: 10px;
      font-size: 12px;
      a {
        display: inline-block;
        width: 50px;
        text-align: right;
        margin-right: 3px;
      }
    }
  }
  > li:hover .commits {
    display: block;
  }
}

img.gravatar {
  border-radius: 10px;
  width: 20px;
  height: 20px;
}

div.community {
  a {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 12px;
  }
  img.gravatar {
    border-radius: 80px;
    width: 80px;
    height: 80px;
  }
}

.muted a {
  color: #999;
}

h3.logo {
  line-height: 30px;
}
.nav {
  margin-bottom: 0;
}

.protocol{
  font-family: Courier New, monospace;
  code{
    color: inherit;
    background: none;
    border: none;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 15px;
  }
}

.twitter-follow-btn {
  text-align: center;
  margin-left: 300px;
}
