.post {
  max-width: 50rem;
  margin: 0 auto;
  padding-inline: var(--space3);
}

@media screen and (min-width: 768px) {
  .post {
    padding-inline: var(--space6);
  }
}

.title {
  margin-block-end: var(--space3);
}

.meta {
  font-size: 0.875rem;
  color: var(--gray10);
}

.content > p:first-child {
  font-size: 1.25em;
}

.content code:not(pre code) {
  font-size: 0.9em;
  background-color: var(--gray3);
  padding: 0.1rem 0.2rem;
  border: 1px solid var(--gray5);
  border-radius: 4px;
}

.content pre {
  font-size: 1rem;
}

.content ul {
  padding-inline-start: var(--space4);
}

.content li {
  margin-block-end: var(--space3);
}
