---
import type { CollectionEntry } from 'astro:content'
interface Props {
  feature: CollectionEntry<'features'>
}

const { data, render } = Astro.props.feature
const { Content } = await render()
---

<article>
  <h4 class="title">{data.title}</h4>
  <div class="content">
    <Content />
  </div>
</article>

<style>
  .title {
    margin-top: 0;
  }

  .content {
    color: var(--gray11);
  }
</style>
