---
import type { CollectionEntry } from 'astro:content'
interface Props {
  feature: CollectionEntry<'features'>
}

const { data, render } = Astro.props.feature
const { Content } = await render()
---

<article>
  <header>
    <p class="title"><strong>{data.title}</strong></p>
  </header>
  <div class="content">
    <Content />
  </div>
</article>

<style>
  .title {
    font-size: 1.125rem;
    line-height: 1.35;
    margin-block-start: 0;
    margin-block-end: 0.5em;
  }

  @media screen and (width >= 550px) {
    .title {
      font-size: 1.25rem;
    }
  }

  .content {
    color: var(--gray11);
  }
</style>
