---
import { getCollection } from 'astro:content'
import Feature from './Feature.astro'

const features = await getCollection('features')
features.sort((a, b) => a.data.order - b.data.order)
---

<div class="features">
  {features.map((feature) => <Feature feature={feature} />)}
</div>

<style>
  .features {
    max-inline-size: 60rem !important;
    margin: var(--space12) auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--space6);
    padding-inline: var(--space3);
  }

  @media screen and (width >= 768px) {
    .features {
      grid-gap: var(--space8);
      grid-template-columns: repeat(3, 1fr);
      padding-inline: var(--space6);
    }
  }
</style>
