@import "~skeleton-css/css/normalize.css";
@import "~skeleton-css/css/skeleton.css";
@import "~prismjs/themes/prism.css";

pre code {
  border-width: 0px;
}

// Variables
$scheme: #1eaedb;
$scheme-primary: #25967a;
$scheme-secondary: #48aa92;
$scheme-tertiary: #f16100;
$header-bg: #f5f5f5;
$intro-color: #d6e1e5;
$mission-bg: #eee;
$mission-color: #222;

// Global things
@import "./fadeIn.scss";
@import "./layout.scss";
@import "./typography.scss";

// Pages
@import "./support.scss";
@import "./blog.scss";
@import "./demo.scss";
@import "./home.scss";
@import "./implementations.scss";
@import "./protocol.scss";
