
.content {
	h2:first-child {
		border-bottom: 1px solid #eee;
		margin-top: 20px;
	}

	.post {
		margin-bottom: 5rem;

		.post-info {
			color: #ccc;
			margin-bottom: 10px;

			.date {
				font-weight: 700;
			}
		}

		.post-content {
			font-family: "ff-tisa-web-pro";
			color: #555;
		}

		p {
			margin-bottom: 15px;
			// margin-left: 1.5em; // @TODO: do we really want this?
			text-align: justify;
		}

		ul {
			padding-left: 40px;
		}

		h3 {
			border-bottom: 1px solid #eee;
		}
	}

	.post-subscribe {
		margin-bottom: 20px;
	}

	.blog-posts {
		.post {
			h2:first-child {
				a {
					text-decoration: none;
				}
			}
		}
	}
}
