<div>
  <slot />
</div>

<style>
  div {
    font-size: inherit;
  }

  div > :global(p:first-child) {
    font-size: 1.25em;
  }

  div :global(code:not(pre code)) {
    font-size: 0.9em;
    background-color: var(--gray3);
    padding: 0.1rem 0.2rem;
    border: 1px solid var(--gray5);
    border-radius: 4px;
  }

  div :global(.astro-code) {
    font-size: 1rem;
    padding: var(--space1) var(--space3);
  }

  div :global(ul) {
    padding-inline-start: var(--space4);
  }

  div :global(li) {
    margin-block-end: var(--space3);
  }
</style>
