---
layout: default
title: tus - resumable file uploads
container: "none"
homepage: true
is_home: true
permalink: /
---

<div class="intro">
  <div class="container">
    <img class="banner" src="/assets/img/tus1--no-io.png" alt="tus - Resumable File Uploads" />
  </div>

  <div class="mission">
    <div class="container">
      <p>
        People are sharing more and more photos and videos every day. Mobile networks
        remain fragile however. Platform APIs are also often a mess and every project builds its own file
        uploader. There are a thousand one-week projects that barely work, when all we need
        is one real project. One project done right.
      </p>

      <p>
        We are the ones who are going to do this right. Our aim is to solve the problem of unreliable file uploads once
        and for all. tus is a new open
        <a href="/protocols/resumable-upload.html">protocol for resumable uploads</a>
        built on HTTP. It offers simple, cheap and reusable stacks for clients and servers.
        It supports any language, any platform and any network.
      </p>

      <p>
        It may seem to be an impossible dream. Perhaps that is because no-one has managed to solve it yet.
        Still, we are confident and we are going to give it our best shot.
        <a target="" href="https://github.com/tus">Join us on GitHub</a> and
        help us make the world a better place. Say "No!" to lost cat videos! Say "Yes!" to tus!
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for feat in site.data.features %}
    {% if forloop.index0 == 3 %}
  </div>
  <div class="row">
    {% endif %}
    <section class="four columns feature">
      <h5>{{feat.title}}</h5>
      <div>{{feat.content | markdownify }}</div>
    </section>
    {% endfor %}
  </div>
</div>

<div class="container">
  <h2>Say Hello :wave:</h2>
  <div class="Social">
    <p>
      We are still actively improving the protocol and all of its implementations. We welcome
      your involvement and are happy to answer any question!
      <br />
      <br />
    </p>

    {% include social.html %}
  </div>
</div>

<div class="container">
  <h2>Official implementations</h2>

  <div class="row">
    <div class="one column"></div>
    {% for impl in site.data.implementations %}
    <div class="two columns implementation">
      <a href="https://github.com/tus/{{impl.name}}">
        <img src="/assets/img/{{impl.icon}}.svg" alt="Support for {{impl.name}}" />

        {{impl.name}}
      </a>
    </div>
    {% endfor %}
  </div>

  <p class="implementations-link">
    Additionally, there are many other <a href="/implementations.html">projects</a> built
    and maintained by our community.
  </p>
</div>

<div class="container">
  <h2>Blog posts</h2>

  <ol class="posts">
    {% for post in site.posts limit:5 %}
    {% assign author = site.data.authors[post.author] %}
    <li>
      <div class="author">
        <a href="https://twitter.com/{{author.twitter}}" title="{{ author.name }}">
          <img
            src="https://secure.gravatar.com/avatar/{{author.gravatar}}&s=64"
            class="gravatar"
            alt="{{ author.name }}">
        </a>
      </div>

      <div class="post-title">
        <div class="date">
          {{ post.date | date: "%b %e, %Y" }}
        </div>

        <h3>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
      </div>
    </li>
    {% endfor %}
  </ol>
</div>


<div class="container ">
  <h2>Who is using tus?</h2>

  <div class="row logos">
    {% for logo in site.data.logos limit:5 %}
        <a href="{{ logo.url }}" title="{{ logo.name }}">
          <img src="{{ logo.src }}" alt="{{ logo.name }}">
        </a>
    {% else %}
       There are no company logos!
    {% endfor %}
  </div>

  <div class="row">
    <p class="companies-link" markdown="1">
      Do you also (plan to) use tus?
      <a href="https://github.com/tus/tus.io/edit/master/_data/logos.yml">Add your company</a>
    </p>
  </div>
</div>


<div class="container">
  <div class="on-the-githubs-container">
    <h2>On the GitHubs</h2>

    <div class="on-the-githubs" data-event-source="orgs/tus">
      Loading...
    </div>
  </div>
</div>

<div class="container">
  <h2>As seen on</h2>

  <div class="row logos">
    {% for logo in site.data.press limit:12 %}
      <a href="{{ logo.url }}" title="{{ logo.name }}"><img src="{{ logo.src }}" alt="{{ logo.name }}"></a>
      {% else %}
         There are no press publications!
      {% endfor %}
  </div>
</div>


<div class="subscription-form">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Receive our latest news and updates!</h3>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <p>
          Leave your e-mail to receive infrequent e-mails about
          major releases and announcements.
        </p>
      </div>

      <div class="six columns">
        <form action="https://transloadit.us1.list-manage.com/subscribe/post?u=98e560c614f2baaf47237f500&amp;id=37aafbe5c1" method="post">
          <input name="EMAIL" type="email" placeholder="Your e-mail address..."/>
          <input name="SOURCE" type="hidden" value="tus.io"/>
          <button class="button-primary">Subscribe!</button>
        </form>
      </div>
    </div>
  </div>
</div>
