<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Robust File Upload Infrastructure - tus</title>

    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="/js/main.js"></script>
    <script type="text/javascript">
      var _kmq = _kmq || [];
      var _kmk = _kmk || '91e4e6e1e58b14e9d14d5c6b336ec269d70b824c';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
