<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.rss_feed }}" type="application/rss+xml" rel="alternate" title="Posts">
  </head>
  <body>
    <a target="_blank" href="https://github.com/tus"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          {% for link in site.navigation %}
            {% assign active = nil %}
            {% if page.url == link.url %}
              {% assign active = 'active' %}
            {% endif %}
            <li class="{{ active }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
          {% endfor %}
        </ul>
        <h3 class="muted logo"><a href="/">tus</a></h3>
      </div>
      <hr>
      {{ content }}
      <hr>

      {% if page.comments %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'tusio'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      {% endif %}

    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3306079-17']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/js/jquery.tmpl.js"></script>
    <script src="/assets/js/jquery.timeago.js"></script>
    <script src="/assets/js/main.js?v2"></script>
    <script src="/assets/js/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="/assets/js/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script type="text/javascript">
      window.tusdEndpoint = '{{ tusd_endpoint }}';
    </script>
    <script src="/assets/js/upload-demo.js"></script>
  </body>
</html>
