---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<div class="post">
  <h2 class="post-title">
    {{page.visible_title |default: page.title}}
  </h2>

  <div class="post-info">
    Published on <span class="date">{{ page.date | date: "%B %e, %Y" }}</span> by
    <a class="author" href="http://twitter.com/{{author.twitter}}">
      {{ author.name }}
    </a>
  </div>

  <div class="post-content">
    {{ content }}
  </div>
</div>

<div class="post-subscribe">
  Subscribe to this blog via
  <a href="{{ site.rss_feed }}">RSS</a>.
</div>
<!-- or
@todo(felixge) Hook in feedburner
<a href="http://tus.io/atom.xml?email=true">E-Mail</a>. -->
