@import 'modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'IBM Plex Sans';
  src: url("/fonts/IBMPlexSans-Regular.woff2");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url("/fonts/IBMPlexSans-Bold.woff2");
  font-display: swap;
  font-weight: bold;
}

:root {
  --space1: 0.25rem;
  --space2: 0.5rem;
  --space3: 0.75rem;
  --space4: 1rem;
  --space5: 1.25rem;
  --space6: 1.5rem;
  --space7: 1.75rem;
  --space8: 2rem;
  --space9: 2.25rem;
  --space10: 2.5rem;
  --space11: 2.75rem;
  --space12: 3rem;

  --gray1: hsl(0, 0%, 99.0%);
  --gray2: hsl(0, 0%, 97.3%);
  --gray3: hsl(0, 0%, 95.1%);
  --gray4: hsl(0, 0%, 93.0%);
  --gray5: hsl(0, 0%, 90.9%);
  --gray6: hsl(0, 0%, 88.7%);
  --gray7: hsl(0, 0%, 85.8%);
  --gray8: hsl(0, 0%, 78.0%);
  --gray9: hsl(0, 0%, 56.1%);
  --gray10: hsl(0, 0%, 52.3%);
  --gray11: hsl(0, 0%, 43.5%);
  --gray12: hsl(0, 0%, 9.0%);

  --green1: #009771;
  --green2:  #48aa92;
  
  --red1: #f16100;
}

body {
  font-size: 1em;
  line-height: 1.6;
  font-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--green1);
  text-decoration: none;
}